# macOS
.DS_Store
._*

# CMake
cmake-build-debug/
compile_commands.json

# JetBrains
.idea/

# Network Model build and result files
build/astra_analytical/build/
build/astra_analytical/build_debug/
build/astra_g2/build/
build/astra_g2/build_debug/
build/astra_analytical/result/
build/astra_garnet/build/
build/astra_garnet/result/
build/astra_htsim/build/


# Generated Chakra ET files
*.eg
*.et
!examples/**/*.et

# vscode
.vscode

# logs
**/*.log

# runs
runs

#env
astraenv/
astraenv39/

upc/comparison_run/
upc_xavi/
upc/output/
upc/workload/
upc/log/
upc/results/
upc/network_log/
upc/streamlit/temp
upc/comparing_networks/workload/
upc/Optimization/histogram/data/
upc/Optimization/temp/config/
upc/configuration/ns3/output/

## Deadlock analysis
upc/zz_analyze_error_analysis

**/*/__pycache__

*.ipynb_checkpoints/

our_examples/
stg_generated_examples/

upc/Optimization/examples/experiments
upc/create_topology_old
upc/Optimization_new
upc/order_comparison
upc/aggregated_results
upc/scaling_analysis
upc/prediction_analysis
upc/ml_model/network*
upc/ml_model/evaluation*
upc/ml_model/oom_analysis
upc/ml_model/output
upc/ml_model/trained*
upc/create_topology/topologies/