# macOS
.DS_Store
._*

# CMake
cmake-build-debug/
compile_commands.json

# JetBrains
.idea/

# Network Model build and result files
build/astra_analytical/build/
build/astra_analytical/build_debug/
build/astra_g2/build/
build/astra_g2/build_debug/
build/astra_analytical/result/
build/astra_garnet/build/
build/astra_garnet/result/
build/astra_htsim/build/


# Generated Chakra ET files
*.eg
*.et
!examples/**/*.et

# vscode
.vscode

# logs
**/*.log

# runs
runs

#env
astraenv/
astraenv39/

optimos/comparison_run/
optimos_xavi/
optimos/output/
optimos/workload/
optimos/log/
optimos/results/
optimos/network_log/
optimos/streamlit/temp
optimos/comparing_networks/workload/
optimos/Optimization/histogram/data/
optimos/Optimization/temp/config/
optimos/configuration/ns3/output/

## Deadlock analysis
optimos/zz_analyze_error_analysis

**/*/__pycache__

*.ipynb_checkpoints/

our_examples/
stg_generated_examples/

optimos/Optimization/examples/experiments
optimos/create_topology_old
optimos/Optimization_new
optimos/order_comparison
optimos/aggregated_results
optimos/scaling_analysis
optimos/prediction_analysis
optimos/ml_model/network*
optimos/ml_model/evaluation*
optimos/ml_model/oom_analysis
optimos/ml_model/output
optimos/ml_model/trained*
optimos/create_topology/topologies
optimos/configuration/topologies
optimos/optimization_suite/experiments/*/logs/
optimos/optimization_suite/experiments/*/experiments/
optimos/optimization_suite/launch_logs/